@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Open+Sans:300,400,600,800');


    /*font-family: 'Comfortaa', cursive;*/
/*font-family: 'Open Sans', sans-serif;*/


/*---------NAVIGATION---------*/


.navigation-wrapper {
  display: inline-block;
  width: 100%;
  height: 90px;
}

.logo-small img {
  position: absolute;
  /*display: inline-block;*/
  width: 80px;
  height: 80px;
  float: left;
}

.nav-ul {
  list-style: none;
  float: right;
      font-family: 'Comfortaa', cursive;

}

.nav-li {
  display: inline-block;
  padding: 20px 30px;
}

.nav-li a {
  font-size: 15px;
  text-decoration: none;
  /*color: rgba(187,53,242,0.8);*/
  transition: 1s;
    float: right;

}


.nav-li a:hover {
  color: rgba(255,117,0,1);
  text-decoration: underline;
}
